*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
  url("https://plus.unsplash.com/premium_photo-1677567996070-68fa4181775a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3MlMjBsaWJyYXJ5fGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
